apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: harbor
resources:
  - configmap.yaml
  - deployment.yaml
  - persistentvolumeclaim.yaml
  - secret.yaml
  - service.yaml
  - statefulset.yaml
