apiVersion: v1
kind: Secret
metadata:
  name: democratic-csi-driver-config
  namespace: democratic-csi
stringData:
  driver-config-file.yaml: |
    driver: freenas-api-nfs
    instance_id: org.democratic-csi.freenas-nfs
    httpConnection:
      protocol: https
      host: "truenas.garrettholland.com"
      port: 443
      # apiVersion: 2
      apiKey: "<path:projects/812524172865/secrets/truenas-api-key#truenas-api-key>"
      allowInsecure: true

    zfs:
      datasetParentName: Storage/nfs/okd
      detachedSnapshotsDatasetParentName: Storage/nfs/okd-snaps
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0

    nfs:
      shareHost: "truenas.garrettholland.com"
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: "<path:projects/812524172865/secrets/truenas-username#truenas-username>"
      shareMaprootGroup: "wheel"
      shareMapallUser: ""
      shareMapallGroup: ""
