global
	log 127.0.0.1 local2
	chroot /var/lib/haproxy
	pidfile /var/run/haproxy.pid
	maxconn 4000
	user haproxy
	group haproxy
	daemon
	stats socket /var/lib/haproxy/stats

defaults
	mode tcp
	log global
	option tcplog
	timeout connect 10s
	timeout client 1m
	timeout server 1m

frontend api
	bind *:6443
	default_backend api_backend

backend api_backend
	balance roundrobin
	server master1 10.0.1.210:6443 check
	server master2 10.0.1.211:6443 check
	server master3 10.0.1.212:6443 check

frontend mcs
	bind *:22623
	default_backend mcs_backend

backend mcs_backend
	balance roundrobin
	server master1 10.0.1.210:22623 check
	server master2 10.0.1.211:22623 check
	server master3 10.0.1.212:22623 check

frontend http
	bind *:80
	acl is_lab_domain hdr_end(host) -i .lab.garrettholland.com
	use_backend ingress_http_lab if is_lab_domain
	default_backend ingress_http

backend ingress_http
	balance roundrobin
	server worker1 10.0.1.213:80 check
	server worker2 10.0.1.214:80 check
	server worker3 10.0.1.215:80 check

backend ingress_http_lab
	balance roundrobin
	server worker1 10.0.1.213:30577 check
	server worker2 10.0.1.214:30577 check
	server worker3 10.0.1.215:30577 check

frontend https
	bind *:443
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }
	acl is_lab_sni req_ssl_sni -m end .lab.garrettholland.com
	use_backend ingress_https_lab if is_lab_sni
	default_backend ingress_https

backend ingress_https
	balance roundrobin
	server worker1 10.0.1.213:443 check
	server worker2 10.0.1.214:443 check
	server worker3 10.0.1.215:443 check

backend ingress_https_lab
	balance roundrobin
	server worker1 10.0.1.213:30201 check
	server worker2 10.0.1.214:30201 check
	server worker3 10.0.1.215:30201 check
