---
# Source: democratic-csi/templates/controller.yaml
kind: Deployment
apiVersion: apps/v1
metadata:
  name: democratic-csi-controller
  namespace: democratic-csi
  labels:
    app.kubernetes.io/name: democratic-csi
    helm.sh/chart: democratic-csi-0.15.0
    app.kubernetes.io/instance: democratic-csi
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/csi-role: "controller"
    app.kubernetes.io/component: "controller-linux"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: democratic-csi
      app.kubernetes.io/instance: democratic-csi
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/csi-role: "controller"
      app.kubernetes.io/component: "controller-linux"
  template:
    metadata:
      annotations:
        checksum/secret: 924a7c1c4071d90932dcef870a3e6a5ead744e36d99935d7a0d8ea8f179147f3
        checksum/configmap: be3be23b8b52f8a7bc9319f0e70f83561f80a3ac2567bde5ff721188dc747e6a
      labels:
        app.kubernetes.io/name: democratic-csi
        app.kubernetes.io/instance: democratic-csi
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/csi-role: "controller"
        app.kubernetes.io/component: "controller-linux"
    spec:
      serviceAccount: democratic-csi-controller-sa
      priorityClassName: "system-cluster-critical"
      hostNetwork: false
      dnsPolicy: ClusterFirst
      hostAliases: []
      hostIPC: false
      containers:
        # https://github.com/kubernetes-csi/external-attacher
        - name: external-attacher
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 50m
              memory: 60Mi
          image: "registry.k8s.io/sig-storage/csi-attacher:v4.4.0"
          args:
            - --v=5
            - --leader-election
            - --leader-election-namespace=democratic-csi
            - --timeout=90s
            - --worker-threads=10
            - --csi-address=/csi-data/csi.sock
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
        # https://github.com/kubernetes-csi/external-provisioner
        - name: external-provisioner
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 50m
              memory: 60Mi
          image: "registry.k8s.io/sig-storage/csi-provisioner:v3.6.0"
          args:
            - --v=5
            - --leader-election
            - --leader-election-namespace=democratic-csi
            - --timeout=90s
            - --worker-threads=10
            - --extra-create-metadata
            - --csi-address=/csi-data/csi.sock
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
        # https://github.com/kubernetes-csi/external-resizer
        - name: external-resizer
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 50m
              memory: 60Mi
          image: "registry.k8s.io/sig-storage/csi-resizer:v1.9.0"
          args:
            - --v=5
            - --leader-election
            - --leader-election-namespace=democratic-csi
            - --timeout=90s
            - --workers=10
            - --csi-address=/csi-data/csi.sock
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
        # https://github.com/kubernetes-csi/external-snapshotter
        # beware upgrading version:
        #  - https://github.com/rook/rook/issues/4178
        #  - https://github.com/kubernetes-csi/external-snapshotter/issues/147#issuecomment-513664310
        - name: external-snapshotter
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 50m
              memory: 60Mi
          image: "registry.k8s.io/sig-storage/csi-snapshotter:v8.2.1"
          args:
            - --v=5
            - --leader-election
            - --leader-election-namespace=democratic-csi
            - --timeout=90s
            - --worker-threads=10
            - --csi-address=/csi-data/csi.sock
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
        - name: csi-driver
          resources:
            requests:
              cpu: 20m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          image: "docker.io/democraticcsi/democratic-csi:latest"
          args:
            - --csi-version=1.5.0
            - --csi-name=org.democratic-csi.freenas-nfs
            - --driver-config-file=/config/driver-config-file.yaml
            - --log-level=info
            - --csi-mode=controller
            - --server-socket=/csi-data/csi.sock.internal

          env:
            - name: NODE_EXTRA_CA_CERTS
              value: "/tmp/certs/extra-ca-certs.crt"
          livenessProbe:
            failureThreshold: 3
            exec:
              command:
                - bin/liveness-probe
                - --csi-version=1.5.0
                - --csi-address=/csi-data/csi.sock.internal
            initialDelaySeconds: 10
            timeoutSeconds: 15
            periodSeconds: 60
          volumeMounts:
            - name: socket-dir
              mountPath: /csi-data
            - name: config
              mountPath: /config
            - name: extra-ca-certs
              mountPath: /tmp/certs
        - name: csi-proxy
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 50m
              memory: 50Mi
          image: "docker.io/democraticcsi/csi-grpc-proxy:v0.5.6"
          env:
            - name: BIND_TO
              value: "unix:///csi-data/csi.sock"
            - name: PROXY_TO
              value: "unix:///csi-data/csi.sock.internal"
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir

      volumes:
        - name: socket-dir
          emptyDir: {}
        - name: config
          secret:
            secretName: democratic-csi-driver-config
        - name: extra-ca-certs
          configMap:
            name: democratic-csi
            items:
              - key: extra-ca-certs
                path: extra-ca-certs.crt
      nodeSelector:
        kubernetes.io/os: linux
