apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: harbor

resources:
  - ../../base
  - namespace.yaml
  - scc.yaml
  - route.yaml
  - certificate.yaml

patches:
  - target:
      kind: Deployment
    path: patches.yaml
  - target:
      kind: StatefulSet
    path: patches.yaml
  - target:
      kind: Deployment
      name: harbor-registry
    path: registry-patch.yaml
  - target:
      kind: StatefulSet
      name: harbor-database
    path: database-patch.yaml
